<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Forms Configuration -->
		<add key="Form:FontSize" value="14" />
		<add key="UI:ShowModalBoxOnCopy" value="false" />
		<!-- Enhanced UI Configuration -->
		<add key="EnhancedUI:ShowLiveStatistics" value="true" />
		<add key="EnhancedUI:ShowRealTimeProgress" value="true" />
		<add key="EnhancedUI:AutoScrollResults" value="true" />
		<add key="EnhancedUI:UpdateInterval" value="500" />
		<!-- File System Configuration -->
		<add key="OutputFolder" value="C:/VerkoopOutput" />
		<!-- Email Processing Configuration -->
		<add key="ProcessingLimits:MaxEmails" value="50" />
		<add key="ProcessingLimits:MaxOrdersPerEmail" value="50" />
		<add key="ProcessingLimits:MaxQuotesPerEmail" value="20" />
		<add key="ProcessingLimits:MaxRevisionsPerEmail" value="10" />

		<!-- Email Configuration -->
		<add key="Email:TenantId" value="beac61e0-1b1d-4f48-84dc-2cd436f93e40" />
		<add key="Email:ClientId" value="6bd62fb3-245d-4f6d-bf4f-737ee5bd77f6" />
		<add key="Email:ClientSecret" value="ADO8Q~DxlmMShmC3Dh0Jtz4QSPuRJfOa5GlHfcG3" />
		<add key="Email:User" value="verkoop@elcotec.nl" />
		<!-- MKG API Configuration - Test environment Base -->
		<add key="MkgApi:Urls:Base" value="https://saas07-oefen.mkg.eu:443/mkgoefenclient" />
		<!-- MKG API Configuration - Live environment environment Base -->
		<!--<add key="MkgApi:Urls:Base" value="https://saas07.mgk.eu:443/mkg" /> -->
		<add key="MkgApi:Urls:Auth" value="/static/auth/j_spring_security_check" />
		<add key="MkgApi:Username" value="paul@elcotec" />
		<add key="MkgApi:Password" value="Yur1803iko" />
		<add key="MkgApi:ApiKey" value="d599139f-5837-34b0-da14-85d6182d7e65" />
		<add key="MkgApi:Urls:Rest" value="/web/v3/MKG" />
		<!-- NEW: MKG Default Configuration REMOVE ? place in domain class ? -->
		<add key="MkgApi:AdministrationNumber" value="1" />
		<add key="MkgApi:DebtorNumber" value="30010" />
		<add key="MkgApi:RelationNumber" value="2" />
		<!-- MKG Test Configuration -->
		<add key="MkgTest:DefaultOrderCount" value="2" />
		<add key="MkgTest:DefaultQuoteCount" value="2" />
		<add key="MkgTest:DefaultRevisionCount" value="2" />
		<add key="MkgTest:EnableQuickAccess" value="true" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>